.container {
    display: flex;
    justify-content: space-around;
}

.img {
    width: 100%;
    
}

.img:hover {
    transform: scale(1.2);
    animation-duration: 1s;
    
}

.div-child {
    overflow: hidden;
    width: 30%;
}